





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Home </h2>
    <form>
        <label for="username">Player1:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">player2:</label><br>
        <input type="password" id="pwd" name="pwd">

      </form>
      <br>
    <button 
    mat-raised-button color="primary"
    routerLink ="/setup">Play</button>
</body>
</html>


